$white: #fff;
$black: #000;
$dark: #040B14;
$blue: #1B3764;
$blue-airy: #F5F8FC;
$blue-airy-light: #DCE1E9;
$blue-sky: #E8ECF2;
$blue-light: #B4C7E7;
$blue-bold: #DFE9F8;
$blue-bg: #F4F8FF;
$gray: #969AA0;
$gray-light: #F3F3F3;
$yellow: #FFCA42;

$laptop: 1919px;
$notebook-large: 1600px;
$notebook: 1199px;
$tablet: 991px;
$mobile-large: 767px;
$mobile: 565px;
$mobile-sm: 320px;
