@import "vars";
@import "fonts";
@import "vendor/reset";

html {
    font-size: 10px;
}

body {
    background-color: $white;

    font-family: 'Inter', sans-serif;
    font-size: 1.9rem;
    color: $gray;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Blocks
=============================*/

@import "blocks/header";
@import "blocks/container";
@import "blocks/nav";
@import "blocks/btn";
@import "blocks/intro";
@import "blocks/statistic";
@import "blocks/section";
@import "blocks/assortment";
@import "blocks/info";
@import "blocks/company";



/* Helpers
=============================*/

@import "helpers";





