@import "vars";
@import "fonts";
@import "vendor/reset";
@import "mixins";

html {
    font-size: 10px;
}

body {
    background-color: $white;

    font-family: 'Inter', sans-serif;
    font-size: 1.9rem;
    color: $gray;

    &.show-nav,
    &.no-scroll {
        overflow: hidden;
    }

    &.show-nav {
        .header {
            background-color: darken($blue, 5%);
            box-shadow: 0 2px 15px darken($blue, 5%);
        }
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Blocks
=============================*/

@import "blocks/page";
@import "blocks/header";
@import "blocks/container";
@import "blocks/nav";
@import "blocks/btn";
@import "blocks/intro";
@import "blocks/statistic";
@import "blocks/section";
@import "blocks/assortment";
@import "blocks/info";
@import "blocks/company";
@import "blocks/copy";
@import "blocks/conclusion";
@import "blocks/chapters";
@import "blocks/reviews";
@import "blocks/articles";
@import "blocks/form";
@import "blocks/subscribe";
@import "blocks/footer";
@import "blocks/about";
@import "blocks/story";
@import "blocks/awards";
@import "blocks/card";
@import "blocks/product";
@import "blocks/details";
@import "blocks/modal";
@import "blocks/cart";
@import "blocks/contact";
@import "blocks/question";
@import "blocks/accordion";
@import "blocks/blog";
@import "blocks/notfound";
@import "blocks/secure";
@import "blocks/licenses";
@import "blocks/changelog";
@import "blocks/burger";


/* Helpers
=============================*/

@import "helpers";

/* Animations
=============================*/

@import "animations";






