@import "vars";
@import "fonts";
@import "vendor/reset";
@import "mixins";

html {
    font-size: 10px;
}

body {
    background-color: $white;

    font-family: 'Inter', sans-serif;
    font-size: 1.9rem;
    color: $gray;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Blocks
=============================*/

@import "blocks/header";
@import "blocks/container";
@import "blocks/nav";
@import "blocks/btn";
@import "blocks/intro";
@import "blocks/statistic";
@import "blocks/section";
@import "blocks/assortment";
@import "blocks/info";
@import "blocks/company";
@import "blocks/copy";
@import "blocks/conclusion";
@import "blocks/chapters";
@import "blocks/reviews";
@import "blocks/articles";
@import "blocks/form";
@import "blocks/subscribe";
@import "blocks/footer";
@import "blocks/about";
@import "blocks/story";
@import "blocks/awards";


/* Helpers
=============================*/

@import "helpers";





