.assortment {
    display: flex;

    margin: 0 -3.3rem;

    &__item {
        display: flex;
        width: 50%;
        padding: 0 3.3rem;
        margin-bottom: 3rem;
    }

    &__photo {
        width: 48.3%;
    }

    &__photo-item {
        display: block;
        max-width: 100%;
        height: 400px;
    }

    &__photo-item__img {
        width: 100%;
        height: 100%;
        
        object-fit: cover;
        object-position: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 51.7%;
        padding: 3.35rem 0 3.35rem 4rem;
    }

    &__header {
        margin-bottom: 1.4rem;
    }

    &__title {
        font-family: 'Cardo', sans-serif;
        font-size: 3.2rem;
        color: $blue;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -0.02em;
    }

    &__main {
        margin-bottom: 3rem;
    }

    &__text {
        font-family: 'Inter', sans-serif;
        font-size: 1.9rem;
        color: $gray;
        line-height: 1.8;
        letter-spacing: -0.01em;

        max-width: 262px;
    }

    &__footer {
        margin-top: auto;
    }

}