.btn {
    display: inline-block;
    padding: 1.05em 2.78em;
    text-decoration: none;
    vertical-align: middle;

    font-family: 'Cardo', sans-serif;
    font-size: 1.9rem;
    color: $blue;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.02em;

    background-color: $yellow;
    border: 1px solid $yellow;
    
    transition: background-color .2s linear, color .2s linear;

    &:hover {
        background-color: darken($yellow, 15%);
        color: $white;
    }

    &--transparent {
        background-color: transparent;
    }

    &--blue {
        background-color: $blue-airy;
        color: $blue;

        border-color: $blue-sky;

        &:hover {
            background-color: $blue;
            color: $white;
        }
    }

    &--big {
        min-width: 434px;

        @include breakpoint($notebook) {
            min-width: auto;
        }
    }

    &--xl {
        min-width: 315px;
    }

    &--medium {
        min-width: 220px;
        padding: 1.05em 2.31em;
    }

    &--large {
        min-width: 240px;
    }

    &--sm {
        min-width: 180px;
        padding: 0.68em 1.73em;
    }
}