.card {

    display: flex;
    flex-wrap: wrap;

    margin: 0 -2.4rem;

    @include breakpoint($notebook) {
        justify-content: center;
    }

    &__item {
        width: 33.3333%;
        padding: 0 2.4rem;
        margin-bottom: 7rem;

        @include breakpoint($notebook) {
            width: 50%;
            max-width: 400px;
        }

        @include breakpoint($mobile-large) {
            width: 100%;
            text-align: center;
        }
    }

    &__photo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        margin-bottom: 2rem;

        position: relative;

        background-color: $blue-airy;

        @include breakpoint($mobile-large) {
            height: 450px;
        }

        @include breakpoint($mobile-sm) {
            height: auto;
        }

        &--audio {
            &::after {
                content: url('../images/svg/audio.svg');
                display: block;
                width: 78px;
                height: 78px;

                position: absolute;
                right: 20px;
                bottom: 18px;
                z-index: 1;
            }
        }

        &--record {
            &::after {
                content: url('../images/icon/record.png');
                display: block;
                width: 95px;
                height: 91px;

                position: absolute;
                right: 19px;
                bottom: 25px;
                z-index: 1;
            }
        }
    }

    &__photo-item {
        display: block;
        width: 300px;
        max-width: 100%;
        height: 400px;

        box-shadow: 0 35px 25px rgba($dark, .1);
    }

    &__photo-item__img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: .9rem;
    }

    &__title {
        font-family: 'Cardo', sans-serif;
        font-size: 3.2rem;
        color: $blue;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -0.02em;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        @include breakpoint($mobile-sm) {
            font-size: 2.6rem;
        }
    }

    &__price {
        font-family: 'Inter', sans-serif;
        font-size: 2.2rem;
        color: $yellow;
        font-weight: 700;
        line-height: 1.8;
        letter-spacing: -0.01em;
    }

    &__content {
        margin-bottom: 2.4rem;
    }

    &__text {
        font-family: 'Inter', sans-serif;
        font-size: 1.9rem;
        color: $gray;
        line-height: 1.8;
        letter-spacing: -0.01em;
    }

    &__status {
        font-family: 'Cardo', sans-serif;
        font-size: 2.4rem;
        color: $blue;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -0.01em;

        position: relative;

        &::before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;

            position: absolute;
            top: 50%;
            left: 0;
            z-index: 1;
            transform: translateY(-50%);
            background-color: #FFCA42;

            border-radius: 50%;
            background-color: $yellow;

            @include breakpoint($mobile-large) {
                left: 20%;
            }
        }

        padding-left: 2.9rem;
        margin-bottom: 2.5rem;
    }
}