.cart {
    display: flex;
    flex-direction: column;
    background-color: $white;


    &__header {
        margin-bottom: 6.2rem;
        background-color: $yellow;
        padding: 3.5rem 7.6rem;
    }

    &__content {
        padding: 0 7.7rem 6.5rem;
        border-bottom: 1px solid rgba($blue, .2);
        min-height: 250px;
    }

    &__title {
        font-family: 'Cardo', sans-serif;
        font-size: 5rem;
        color: $blue;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -0.02em;
    }

    &__product {
        display: flex;
    }

    &__product-photo {
        display: block;
        width: 100%;
        max-width: 133px;
        height: 178px;
    }

    &__product-photo__img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center;
    }

    &__product-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 3.8rem;
    }

    &__product-info__title {
        font-family: 'Cardo', sans-serif;
        font-size: 2.4rem;
        color: $blue;
        font-weight: 700;
        line-height: 2.2;
        text-decoration: none;
        letter-spacing: -0.01em;

        &:hover {
            text-decoration: underline;
        }

    }

    &__product-info__price {
        font-family: 'Inter', sans-serif;
        font-size: 2rem;
        color: $gray;
        font-weight: 500;
        line-height: 1.7;
        letter-spacing: -0.01em;

        margin-bottom: 4.4rem;
    }

    &__product-info__btn {
        font-family: 'Cardo', sans-serif;
        font-size: 3.5rem;
        color: $blue;
        line-height: 1.5;
        text-align: center;

        background: none;
        border: none;
        cursor: pointer;

        &:hover {
            color: darken($yellow, 30%);
        }
    }

    &__footer {
        margin-top: auto;
        padding: 2.5rem 7.1rem 6.5rem;
    }

    &__footer-price {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 6.1rem;
    }

    &__footer-price__text {
        font-family: 'Cardo', sans-serif;
        font-size: 2.4rem;
        color: $blue;
        line-height: 2.2;
        letter-spacing: -0.01em;
    }
}