.company {

    display: flex;
    flex-wrap: wrap;
    margin: 0 -4.85rem;

    &__item {
        width: 25%;
        padding: 0 4.85rem;
        margin-bottom: 3rem;
        
        text-align: center;
    }

    &__img {
        margin-bottom: 2.85rem;
    }

    &__title {
        font-family: 'Cardo', sans-serif;
        font-size: 2.4rem;
        color: $blue;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -1px;

        margin-bottom: .95rem;
    }

    &__text {
        font-family: 'Inter', sans-serif;
        font-size: 1.8rem;
        color: $gray;
        line-height: 1.7;
        letter-spacing: -1px;
    }
}