.error {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-image: url('../images/404/404-bg.jpg');
    background-position: center;
    background-size: cover;

    &__content {
        display: block;
        max-width: 589px;
        margin: 0 auto;

        text-align: center;
    }

    &__img {
        width: 100%;
        max-width: 471px;
        height: 215px;

        margin-bottom: 3.5rem;
    }

    &__title {
        font-family: 'Cardo', sans-serif;
        font-size: 4rem;
        color: $blue;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -0.02em;

        margin-bottom: 1.6rem;
    }

    &__text {
        font-family: 'Inter', sans-serif;
        font-size: 1.9rem;
        color: $gray;
        line-height: 1.7;
        letter-spacing: -0.01em;

        margin-bottom: 4.1rem;
    }
}