.info {
    display: flex;

    &__photo {
        width: 43.21%;

        border: 12px solid $yellow;

        margin-bottom: 3rem;
    }

    &__photo-item {
        display: block;
        max-width: 100%;
        height: 650px;

        transform: translate3d(-4rem, -4rem, 0);
        box-shadow: 10px 20px 30px rgba($black, .20);
    }

    &__photo-item__img {

        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center;
    }

    &__content {
        width: 56.79%;
        padding: 2rem 0 0 14.2rem;

        margin-bottom: 3rem;
    }

    &__text {
        font-family: 'Inter', sans-serif;
        font-size: 1.9rem;
        color: $gray;
        line-height: 1.8;
        letter-spacing: 1px;

        min-width: 605px;
        margin-bottom: 4.4rem;
    }

    &__statistic {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -3.6rem 4.1rem;
    }

    &__statistic-item {
        padding: 0 3.6rem;

        border-right: 1px solid $yellow;

        &:last-child {
            border-right: 0;
        }
    }

    &__statistic-item__header {
        font-family: 'Cardo', sans-serif;
        font-size: 5.5rem;
        color: $blue;
        line-height: 1.2;
        letter-spacing: -1px;
    }

    &__statistic-item__text {
        font-family: 'Inter', sans-serif;
        font-size: 1.8rem;
        color: $gray;
        line-height: 1.7;
    }

    &__address {
        display: flex;
        align-items: center;
        padding: 1.5rem 1.8rem;

        background-color: $blue;
    }

    &__address-qrcode-img {
        width: 130px;
        height: 130px;
    }

    &__address-content {
        padding-left: 3.7rem;
    }

    &__address-content__name {
        font-family: 'Cardo', sans-serif;
        font-size: 2.2rem;
        color: $yellow;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -1px;

        margin-bottom: .7rem;
    }

    &__address-content__link {
        display: inline-block;
        font-family: 'Inter', sans-serif;
        font-size: 1.9rem;
        color: $blue-light;
        line-height: 1.8;
        text-decoration: none;
        letter-spacing: -1px;

        margin-bottom: .2rem;

        &:hover {
            text-decoration: underline;
        }
    }

}

