.licenses {

    padding: 13rem 0 5.5rem;

    @include breakpoint($mobile-large) {
        padding: 8rem 0 2.5rem;
    }

    &__inner {
        width: 100%;
        max-width: 790px;
    }

    &__content {
        margin-bottom: 5.5rem;
    }

    &__title {
        font-family: 'Cardo', sans-serif;
        font-size: 3rem;
        color: $blue;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -0.01em;

        margin-bottom: 1.3rem;

        @include breakpoint($mobile-large) {
            font-size: 2.5rem;
        }
    }

    &__text,
    &__content-text {
        font-family: 'Inter', sans-serif;
        font-size: 1.9rem;
        color: $gray;
        line-height: 1.7;   
        letter-spacing: -0.01em;

        @include breakpoint($mobile-large) {
            font-size: 1.6rem;
        }

        p {
            padding-bottom: 1rem;
        }

        b {
            font-weight: 700;
            color: $blue;
        }
    }

    &__content-header {
        font-family: 'Cardo', sans-serif;
        font-size: 2rem;
        color: $blue;
        line-height: 1.7;
        letter-spacing: -0.01em;
    }

    &__content-text {
        margin-bottom: 1rem;
    }
}