.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include breakpoint($notebook) {
        display: none;
        width: 100%;
        height: calc(100vh - 105px);
        padding-top: 1rem;
        overflow: auto;

        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;

        background-color: rgba($blue, .8);

        flex-direction: column;
        justify-content: right;
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint($notebook) {
            justify-content: right;
            order: 2;
            margin-top: 2rem;
            padding-right: 2rem;
        }
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint($notebook) {
            align-items: end;
            flex-direction: column;
            text-align: right;
            width: 100%;
            order: 1;

            & .btn {
                margin-right: 2rem;
            }
        }
    }

    &__social-link {
        width: 45px;
        height: 45px;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $white;
        border: 1px solid $white;

        transition: background-color .2s linear;
        

        & + .nav__social-link {
            margin-left: 1rem;
        }

        &:hover {
            background-color: transparent;

            .nav__social-link__icon {
                fill: $white;
            }
        }

        &--footer {
            width: 55px;
            height: 55px;

            border: 1px solid $yellow;

            background-color: transparent;

            .nav__social-link__icon {
                fill: $white;
            }

            &:hover {
                background-color: $yellow;
                .nav__social-link__icon {
                    fill: $blue;
                }
            }
        }
    }

    &__social-link__icon {
        width: 14px;
        height: 19px;

        fill: $blue;

        transition: fill .2s linear;
    }

    &__link {
        font-family: 'Inter', sans-serif;
        font-size: 1.7rem;
        color: $white;
        font-weight: 500;
        letter-spacing: -0.01em;

        text-decoration: none;

        display: flex;
        align-items: center;
        padding: 0 2.4rem;
        height: 100%;

        transition: color .2s linear, background-color .2s linear;

        @include breakpoint($notebook) {
            display: block;
            width: 100%;
            height: auto;

            padding: 2rem;
        }

        &:hover {
            background-color: $white;
            color: $blue;

            .nav__link-icon__img {
                stroke: $blue;
            }

            &.nav__link--arrow::after {
                border-right-color: $blue;
                border-bottom-color: $blue;
                transform: rotateZ(225deg);
            }
        }

        &--arrow {
            position: relative;

            &::after {
                content: "";
                vertical-align: middle;
                display: inline-block;
                height: 8px;
                width: 8px;
                margin-left: 0.7rem;
    
                position: absolute;
                top: 50%;
                right: 10%;
                z-index: 1;
    
                background: none;
                border-radius: 1px;
                border-right: 2px solid $white;
                border-bottom: 2px solid $white;
    
                transform: rotateZ(45deg) translateY(-85%);
                transition: transform 0.2s ease-in-out;
            }
        }
    }

    &__link-icon__img {
        width: 22px;
        height: 21px;

        stroke: $white;
        fill: transparent;

        transition: stroke .2s linear;
    }

    &__link-icon__img-bage {
        height: 21px;
        min-width: 21px;

        font-size: 1rem;
        color: $blue;
        font-weight: 800;
        line-height: 1.25;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        left: 40px;
        text-align: center;
        top: 35px;

        background: $yellow;
        border-radius: 50%;


        @include breakpoint($notebook) {
            top: 10px;
            left: auto;
            right: 5px;
            max-width: 21px;
        }
    }
}

.nav__link-icon {
    margin-right: 1rem;
    position: relative;

    @include breakpoint($notebook) {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}