.section {
    padding: 14.5rem 0 8.5rem;

    @include breakpoint($notebook-large) {
        padding: 8.5rem 0 2.5rem;
    }

    &__header {
        width: 100%;
        text-align: center;
    }

    &__title,
    .info__title {
        font-family: 'Cardo', sans-serif;
        font-size: 4.5rem;
        color: $blue;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -0.02em;

        &::after {
            content: '';
            display: block;
            width: 55px;
            height: 3px;

            background-color: $yellow;
            margin: 2.2rem auto 5.7rem;
        }

        @include breakpoint($notebook-large) {
            font-size: 3.5rem;
        }

        @include breakpoint($mobile) {
            font-size: 2.9rem;
        }
    }

    .info__title::after {
        margin: 2.2rem 0 2.2rem;

        @include breakpoint($tablet) {
            margin: 2.2rem auto 2.2rem;
        }
    }

    &--blue {
        background-color: $blue-bg;
    }
}