.section {
    padding: 14.5rem 0 11.5rem;

    &__header {
        width: 100%;
        text-align: center;
    }

    &__title,
    .info__title {
        font-family: 'Cardo', sans-serif;
        font-size: 4.5rem;
        color: $blue;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -2px;

        &::after {
            content: '';
            display: block;
            width: 55px;
            height: 3px;

            background-color: $yellow;
            margin: 2.2rem auto 5.7rem;
        }
    }

    .info__title::after {
        margin: 2.2rem 0 2.2rem;
    }

    &--blue {
        background-color: $blue-bg;
    }
}