.secure {
    padding: 20rem 0;

    .form__group {
        margin-bottom: 2rem;
    }

    &__inner {
        max-width: 922px;
        padding: 12.3rem 15.8rem;
        margin: 0 auto;

        text-align: center;

        background-color: $gray-light;

    }

    &__title {
        line-height: 1.3;

        &::after {
            margin: 1rem auto 1.9rem;
        }
    }

    &__text {
        font-family: 'Inter', sans-serif;
        font-size: 1.9rem;
        color: $gray;
        line-height: 1.7;
        letter-spacing: -0.01em;

        max-width: 551px;
        margin: 0 auto 2rem;
    }

    &__input {
        &--input {
            background-image: url('../images/svg/key.svg')
        }
    }
}