<!-- Company -->
<div class="section">
    <div class="container">
        <div class="section__header">
            <h2 class="section__title">Trusted by the Best</h2>
        </div>

        <div class="company">
            <div class="company__item">
                <img class="company__img" src="assets/images/svg/company-1.svg" alt="amazen corp">
                <div class="company__title">Amazen Corp</div>
                <div class="company__text">
                    A long established fact that a who looking at its layout.
                </div>
            </div>

            <div class="company__item">
                <img class="company__img" src="assets/images/svg/company-2.svg" alt="amazen corp">
                <div class="company__title">Megan Books</div>
                <div class="company__text">
                    A long established fact that a who looking at its layout.
                </div>
            </div>

            <div class="company__item">
                <img class="company__img" src="assets/images/svg/company-3.svg" alt="amazen corp">
                <div class="company__title">Los Books</div>
                <div class="company__text">
                    A long established fact that a who looking at its layout.
                </div>
            </div>

            <div class="company__item">
                <img class="company__img" src="assets/images/svg/company-4.svg" alt="amazen corp">
                <div class="company__title">Urban Lib</div>
                <div class="company__text">
                    A long established fact that a who looking at its layout.
                </div>
            </div>
        </div><!-- /.company -->
    </div><!-- /.container -->
</div><!-- /.section -->