<!-- Header -->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <a class="header__logo-link" href="index.html">
                    <svg class="header__logo-icon">
                        <use href="assets/images/svg/sprites.svg#logo"></use>
                    </svg>

                    <span class="header__logo-name">Pages</span>
                </a>
            </div>

            <div class="nav">
                <div class="nav__social">
                    <a class="nav__social-link" href="#" target="_blank">
                        <svg class="nav__social-link__icon">
                            <use href="assets/images/svg/sprites.svg#facebook"></use>
                        </svg>
                    </a>

                    <a class="nav__social-link" href="#" target="_blank">
                        <svg class="nav__social-link__icon">
                            <use href="assets/images/svg/sprites.svg#twitter"></use>
                        </svg>
                    </a>

                    <a class="nav__social-link" href="#" target="_blank">
                        <svg class="nav__social-link__icon">
                            <use href="assets/images/svg/sprites.svg#linkedin"></use>
                        </svg>
                    </a>
                </div>

                <div class="nav__inner">
                    <a class="nav__link" href="#">Home</a>
                    <a class="nav__link" href="#">Pages</a>
                    <a class="nav__link" href="#">About</a>
                    <a class="nav__link" href="#">Services</a>
                    <a class="nav__link" href="#">Contact</a>
                    <a class="nav__link nav__link-icon" href="#">
                        <svg class="nav__link-icon__img">
                            <use href="assets/images/svg/sprites.svg#cart"></use>
                        </svg>
                    </a>

                    <a class="btn btn--sm" href="#">Order Today</a>
                </div>

            </div><!-- /.nav -->
        </div><!-- /.header__inner -->
    </div><!-- /.container -->
</header>
