<!-- Subscribe -->
<section class="subscribe">
    <div class="container">
        <div class="subscribe__inner">
            <div class="subscribe__content">
                <h3 class="subscribe__title section__title">Read a free chapter</h3>
                <div class="subscribe__text">
                    Making this the first true value generator on the Internet.
                    It of over 200 Latin words, combined with a handful.
                </div>
            </div>

            <div class="subscribe__form">
                <form class="subscribe__form-request" id="form" action="/" method="post">
                    <div class="form__group">
                        <input  class="subscribe__input" placeholder="Your Email id..." ="email">
                    </div>
                    <button class="btn subscribe__btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>